{% extends "base.html" %}

{% block title %}Agenda{% endblock %}

{% block content %}

<div class="container mt-4">

  <h2 class="mb-4"> Gestor de Tareas </h2>


  <!-- Crear cuadro -->
  <form method="POST" class="input-group mb-4">
    <input type="text" name="nuevo_cuadro" class="form-control" placeholder="Nombre de la tarea">
    <button class="btn btn-primary">Agregar</button>
  </form>

  <div class="d-flex flex-wrap gap-3">

    {% for cuadro in cuadros %}
    {% set cuadro_index = loop.index0 %}

    <div class="card" style="width: 18rem;">

      <!-- TITULO -->
      <div class="card-header text-center fw-bold">
        {{ cuadro.titulo }}
      </div>

      <!-- DIAS -->
      <ul class="list-group list-group-flush">

        {% for dia in cuadro.dias %}
        <li class="list-group-item">

          <form method="POST" class="d-flex justify-content-between align-items-center">

            <input type="hidden" name="cuadro" value="{{ cuadro_index }}">
            <input type="hidden" name="toggle" value="{{ loop.index0 }}">

            <span>{{ dia.nombre }}</span>

            <button class="btn p-0 border-0 bg-transparent">
              <input type="checkbox"
                      {% if dia.hecho %}checked{% endif %}
                      disabled>
            </button>


          </form>

        </li>
        {% endfor %}

      </ul>

    </div>

    {% endfor %}

  </div>

</div>

{% endblock %}