{% extends "base.html" %}

{% block title %}Agenda{% endblock %}

{% block content %}

<button class="btn btn-dark m-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu">
  Menú
</button>

<div class="container mt-4">

  <h2 class="mb-4"> Gestor de Tareas </h2>


  <!-- Crear cuadro -->
  <form method="POST" class="input-group mb-4">
    <input type="text" name="nuevo_cuadro" class="form-control" placeholder="Nombre de la tarea">
    <button class="btn btn-primary">Agregar</button>
  </form>

  <div class="d-flex flex-wrap gap-3">

    {% for cuadro in cuadros %}
    {% set cuadro_index = loop.index0 %}

    <div class="card" style="width: 18rem;">

      <!-- TITULO -->
      <div class="card-header text-center fw-bold">
        {{ cuadro.titulo }}
      </div>

      <!-- DIAS -->
      <ul class="list-group list-group-flush">

        {% for dia in cuadro.dias %}
        <li class="list-group-item">

          <form method="POST" class="d-flex justify-content-between align-items-center">

            <input type="hidden" name="cuadro" value="{{ cuadro_index }}">
            <input type="hidden" name="toggle" value="{{ loop.index0 }}">

            <span>{{ dia.nombre }}</span>

            <button class="btn p-0 border-0 bg-transparent">
              <input type="checkbox"
                      {% if dia.hecho %}checked{% endif %}
                      disabled>
            <button class="btn p-0 border-0 bg-transparent me-2">
              <input type="checkbox" class="form-check-input"
                      {% if tarea.hecho %}checked{% endif %} disabled>
            </button>


          </form>

        </li>
        {% endfor %}

      </ul>

    </div>

    {% endfor %}

  </div>

</div>

{% endblock %}
<!-- MENÚ LATERAL -->
<div class="offcanvas offcanvas-start" id="menu">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Mi Agenda Escolar</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body">
    <button class="btn btn-outline-danger w-100 mb-2">registrate</button>
    
    <a href="{{ url_for('login') }}">
    <button class="btn btn-outline-danger w-100 mb-2">
        inicio de sesión
    </button>
</a>
    <button class="btn btn-outline-danger w-100 mb-2">Inicio</button>
    <button class="btn btn-outline-danger w-100 mb-2">Mis tareas</button>
    <button class="btn btn-outline-danger w-100 mb-2">Configuración</button>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
